<h1>Log In</h1>
<%= form_with url: session_path, method: :post, local: true do |form| %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  <div>
    <%= form.label :password %>
    <%= form.password_field :password %>
  </div>
  <div>
    <%= form.submit "Log In" %>
  </div>
<% end %>
