<body data-logged-in="<%= logged_in? %>">
  <header>
   
  </header>
  <main>
    <% if logged_in? %>
      <h1>Create New Chat Room</h1>
      <%= form_with model: @chat_room, local: true do |form| %>
        <div>
          <%= form.label :name %>
          <%= form.text_field :name %>
        </div>
        <div>
          <%= form.submit "Create Chat Room" %>
        </div>
      <% end %>
    <% else %>
      <p>Please <%= link_to "log in", new_session_path %> to create a new chat room.</p>
    <% end %>
  </main>
</body>