<h1><%= @chat_room.name %></h1>

<h2>Messages</h2>
<ul>
  <% @messages.each do |message| %>
    <li>
      <strong><%= h(message.user.name) %>:</strong> <%= h(message.content) %>
    </li>
  <% end %>
</ul>

<% if current_user %>
  <h3>Add a New Message</h3>
  <%= form_with(model: Message.new, url: messages_path, method: :post, local: true) do |form| %>
    <%= form.hidden_field :chat_room_id, value: @chat_room.id %>
    <%= form.hidden_field :user_id, value: current_user.id %>
    <%= form.text_area :content, placeholder: "Type your message..." %>
    <%= form.submit "Send" %>
  <% end %>
<% else %>
  <p>
    To add a comment, please <%= link_to "log in", new_session_path %> or 
    <%= link_to "create an account", new_user_path %>.
  </p>
<% end %>


<%= link_to "Back to Chat Rooms", chat_rooms_path %>
